*.o
*.so
/index
/lib
/libtemplate
/Makefile
/agrep/Makefile
/agrep/agrep
/bin/buildcast
/bin/glimpse
/bin/glimpseindex
/bin/glimpseserver
/bin/wgconvert
/compress/Makefile
/compress/cast
/compress/tbuild
/compress/uncast
/config.log
/config.status
/dynfilters/Makefile
/dynfilters/htuml2txt
/dynfilters/lex.yy.c
/main_server.c
